
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
.App {
  min-height: 100vh;
  display: flex;
  background-image: url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTAzL3JtNjEwLXJlbWl4LTgxLmpwZw.jpg");
  background-position: center;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}